<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66674081684-3tnk51r1qjqt324hr34h685cf3a9lv2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66674081684-3tnk51r1qjqt324hr34h685cf3a9lv2j</string>
	<key>API_KEY</key>
	<string>AIzaSyC-afGyLAdz5o8ueeRN4NC3ClLSjKhLF6A</string>
	<key>GCM_SENDER_ID</key>
	<string>66674081684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mutliUser2dCarRacingGameWithGroupChatUsingFlutterAndFirebase7june.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>d-car-racing-game-9eba2</string>
	<key>STORAGE_BUCKET</key>
	<string>d-car-racing-game-9eba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66674081684:ios:7e7ea2db9b6f72c3181981</string>
</dict>
</plist>